{% extends "layout" %}

{% block content %}
<h2>{{ subject.code }} {{ subject.name }}</h2>
<p>{{ subject.department.name }}</p>
<h3>Idő</h3>
<pre>
{{ subject.time }}
</pre>
<h3>Hely</h3>
<pre>
{{ subject.location }}
</pre>

{% if (subject.user_id == currentUser.id) %}
<a href="/subjects/{{ subject.id }}/edit" class="btn btn-default">
    Szerkeszt
</a>
<a href="/subjects/{{ subject.id }}/delete" class="btn btn-danger">
    Töröl
</a>
{% endif %}

{% if ( currentUser.role == '0') %}
<form class="form-horizontal" method="post" action="/subjects/take">
{{ csrfField }}
<div class="form-group">
    <div class="col-lg-10">
        <input type="hidden" class="form-control" id="user_id" name="user_id" placeholder="Tantárgy neve" value="{{ currentUser.id }}">
        <input type="hidden" class="form-control" id="subject_id" name="subject_id" placeholder="Tantárgy neve" value="{{ subject.id }}">
        <button type="submit" class="btn btn-primary"> Felvétel </button>
    </div>
</div>
</form>
{% endif %}

{% endblock %}